<!--用户登录页面-->
<div class="login_home_system">
    <!--头部背景-->
    <div class="result_title">
        <div class="result_round top"></div>
        <div class="result_round bottom"></div>

        <!--商城logo-->
        <div class="login_home_logo">官方商城</div>
    </div>

    <!--输入框-->
    <label class="login_input">
        <div class="input_icon">
            <img src="../../images/icon_login_number1.png"/>
        </div>
        <div class="input_number">
            <input type="text"  pattern="[0-9]*" placeholder="请输入手机号">
        </div>

    </label>

    <label class="login_input">
        <div class="input_icon">
            <img src="../../images/icon_login_password1.png"/>
        </div>
        <div class="input_number">
            <input type="password" pattern="[0-9]*" placeholder="请输入登录密码">
        </div>

    </label>

    <!--短信验证-->
    <div class="login_text">
        <a class="yao_text_left">短信验证登录</a>
        <a class="yao_text_left">找回密码</a>
    </div>
    <!--登录按钮-->
    <label class="login_button_solid">
        <button>登录系统</button>
    </label>
    <label class="login_button_hollow">
        <button>现在注册</button>
    </label>






</div>