<div class="all_brand yao_shadow">
    
    <a>
        <p><img src="../../images/icon_brand.jpg"></p>
        <p>同仁堂</p>
    </a>

    <a>
        <p><img src="../../images/icon_yuannan_baiyao.jpg"></p>
        <p>云南白药</p>
    </a>

    <a>
        <p><img src="../../images/icon_brand.jpg"></p>
        <p>同仁堂</p>
    </a>

    <a>
        <p><img src="../../images/icon_yuannan_baiyao.jpg"></p>
        <p>云南白药</p>
    </a>

    <a>
        <p><img src="../../images/icon_brand.jpg"></p>
        <p>同仁堂</p>
    </a>

    <a>
        <p><img src="../../images/icon_yuannan_baiyao.jpg"></p>
        <p>云南白药</p>
    </a>

    <a>
        <p><img src="../../images/icon_brand.jpg"></p>
        <p>同仁堂</p>
    </a>

    <a>
        <p><img src="../../images/icon_yuannan_baiyao.jpg"></p>
        <p>云南白药</p>
    </a>
    
</div>