<a class="address_select yao_alignment_middle yao_shadow" href="choose_address.html">
    <div><img src="../../images/shopping_address.png"></div>
    <div class="check_address">
        <div class="yao_alignment_center">
            <p><span>收货人：</span><span>葫芦娃</span></p>
            <p>15236984562</p>
        </div>
        <div>
            <span>收货地址：</span><span>上海市徐汇区虹桥路808号</span>
        </div>
    </div>
</a>

<script>


</script>