<div class="order_bottom">
    <div class="bottom_bar"></div>
    <div class="fixed_price">
        <span>总金额：</span>
        <span>¥600.00</span>
    </div>
    <div class="fixed_order yao_alignment_center">
        <p><span>应付金额：</span><span>¥550.00</span></p>
        <a href="check_order_page.html">提交订单</a>
    </div>
</div>