<div class="jf_homepage_autoplay">

    <div class="jf_autoplay_images">
        <a href="#">


            <img src="../../images/banner1.jpg">
        </a>

        <a href="#">
            <img src="../../images/icon_active_banner1.jpg">

        </a>

        <a href="#">
            <img src="../../images/banner1.jpg">
        </a>

        <a href="#">
            <img src="../../images/icon_active_banner2.jpg">
        </a>
    </div>
    <div class="jf_pagination"></div>


</div>

<script>
    jfAutoPlay.jfCarouselInit();//轮播


</script>