<div class="main_product">
    <div class="ak_pro_list">

        <div class="items">
            <div class="product_title jdshow_center_center">
                <div>— <span>开通门店</span> —</div>
            </div>

            <a class="store_name"><span>上海徐汇区徐家汇店</span><span> > </span></a>

            <a class="store_name"><span>上海徐汇区徐家汇店</span><span> > </span></a>

            <a class="store_name">(门店均是实体店和网络综合经营，欢迎到店选购)</a>

        </div>

    </div>
</div>

