<head>

    <title>密码修改</title>

</head>
<body>


<section>
    <!--普通输入-输入手机号-->
    <%- include('../../component/input/input_normal.ejs' ,{
    "icon":"../../images/icon_login_number.png",
    "inputType":"tel",
    "placeholder":"请输入手机号"
    }) %>

    <!--验证倒计时输入-输入手机号-->
    <%- include('../../component/input/input_check.ejs' ,{
    "icon":"../../images/icon_login_envelope.png",
    "inputType":"tel",
    "placeholder":"请输入验证码"
    }) %>

    <!--普通输入-输入新密码-->
    <%- include('../../component/input/input_normal.ejs' ,{
    "icon":"../../images/icon_login_password.png",
    "inputType":"password",
    "placeholder":"请输入新密码"
    }) %>

</section>

<%- include('../../component/input/button_common.ejs',{
"text":"验证并初始化登录密码"
}) %>


</body>