<div class="agreement_page text_page">
    <p class="title">用户协议</p>
    <p>本协议本协议本协议本协议本协议本协议本协议本协议本协议本协议本协议本协议</p>

    <p class="small_title">一、基本内容</p>

    <div>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</div>

    <p class="small_title">二、扩展内容</p>

    <div>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</div>
</div>