<p class="feedback">请您说说意见和建议：</p>

<div class="system_page yao_shadow">

    <label class="list yao_alignment_middle">
      <textarea placeholder="请填写" rows="8"></textarea>
    </label>

</div>

<p class="feedback_tips">也可拨打400-830-1234反馈或咨询</p>

<label class="yao_button_normal">

    <button>提交</button>

</label>