<div>
    <div class="coupon_tips yao_alignment_middle">
        <span><img src="../../images/warning.png"></span>
        <span>说明：一个订单只能使用一个优惠券，全场商品均可使用</span>
    </div>
    <div class="top_label_pich"></div>
</div>


<div class="all_coupon">

        <a class="coupon_plate  orange" href="#">


                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>20</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>满100减20元</p>

                        <button>立即使用</button>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>
        <a class="coupon_plate  orange" href="#">


                <div class="plate_left ">
                    <div class="right_plate">
                        <span>¥</span><span>100</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label ">购物抵用券</div>

                    <div class="all_shopping">
                        <p>满1000减100元</p>

                        <button>立即使用</button>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>
        <a class="coupon_plate red" href="#">
                <div class="plate_left">
                    <div class="right_plate">
                        <img src="../../images/personal_red_packet.png">
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">红包抵用券</div>

                    <div class="all_shopping">
                        <p>10元抵现红包</p>
                        <button>立即使用</button>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>
        <a class="coupon_plate used" href="#">
                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>200.00</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>满1000减200元</p>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>
        <a class="coupon_plate dated" href="#">
                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>20</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>满1000减20元</p>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>

</div>

<a class="coupon_text" href="award.html">如何获取更多的优惠券？></a>