<div class="fixed_top_bar">
    <div class="bar"></div>
    <div class="all_tab yao_shadow">
        <p class="show">全部</p>
        <p>待付款<span>(1)</span></p>
        <p>待评价<span>(5)</span></p>
    </div>
</div>

<div class="my_order_page">

    <div class="order_box yao_alignment_middle">

        <!--全部-->
        <div class="all box">
            <a class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>配送中</p>
                </div>
                <div class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </div>
                <div class="yao_alignment_center">
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </a>
            <a class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>配送中</p>
                </div>
                <div class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </div>
                <div class="yao_alignment_center">
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </a>
            <a class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>配送中</p>
                </div>
                <div class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </div>
                <div class="yao_alignment_center">
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </a>
        </div>

        <!--代付款-->
        <div class="paying box">
            <a class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>配送中</p>
                </div>
                <div class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </div>
                <div class="yao_alignment_center">
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </a>
            <a class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>配送中</p>
                </div>
                <div class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </div>
                <div class="yao_alignment_center">
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </a>
            <a class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>配送中</p>
                </div>
                <div class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </div>
                <div class="yao_alignment_center">
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </a>
        </div>
        <!--待评价-->
        <div class="evaluate box">
            <a class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>配送中</p>
                </div>
                <div class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </div>
                <div class="yao_alignment_center">
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </a>
            <a class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>配送中</p>
                </div>
                <div class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </div>
                <div class="yao_alignment_center">
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </a>
            <a class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>配送中</p>
                </div>
                <div class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </div>
                <div class="yao_alignment_center">
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </a>
        </div>

    </div>



</div>
<script>
    orderTabChange.moveTab()
</script>