<div class="personal_center_page">
    <div class="result_page">
        <div class="result_title">
            <div class="show_pic">安康快药</div>
            <div class="login_statu"><span>登录</span>/<span>注册</span></div>
            <div class="result_round top"></div>
            <div class="result_round bottom"></div>
        </div>
    </div>

    <div class="buy_status yao_alignment_middle yao_shadow">
        <a>
            <img src="../../images/personal_obligation.png">
            <p>待付款</p>
            <span>2</span>
        </a>
        <a>
            <img src="../../images/personal_evaluation.png">
            <p>待评价</p>
        </a>
        <a>
            <img src="../../images/personal_confirm.png">
            <p>待收货</p>
        </a>
        <a>
            <img src="../../images/personal_refund.png">
            <p>已退款</p>
        </a>
        <a class="more">
            <img src="../../images/personal_all.png">
            <p>全部定单 ></p>
            <span>5</span>
        </a>
    </div>

    <div class="main_section yao_shadow">

        <div class="title">
            <img src="../../images/personal_necessary.png">
            <span>必备</span>
        </div>

        <div class="yao_alignment_middle lists">
            <a>
                <img src="../../images/personal_car.png">
                <p>收货地址</p>
            </a>
            <a>
                <img src="../../images/personal_card_coupons.png">
                <p>我的卡券包</p>
            </a>
            <a>
                <img src="../../images/personal_star.png">
                <p>我的分享</p>
            </a>
        </div>
    </div>


    <div class="main_section yao_shadow">

        <div class="title">
            <img src="../../images/personal_other.png">
            <span>其他</span>
        </div>

        <div class="yao_alignment_middle lists">
            <a>
                <img src="../../images/personal_location.png">
                <p>配送区域</p>
            </a>
            <a>
                <img src="../../images/personal_boon.png">
                <p>实惠与奖励</p>
            </a>
            <a>
                <img src="../../images/personal_news.png">
                <p>我的消息</p>
            </a>

            <a>
                <img src="../../images/personal_feedback.png">
                <p>意见反馈</p>
            </a>

            <a>
                <img src="../../images/personal_phone.png">
                <p>400电话</p>
            </a>

            <a>
                <img src="../../images/personal_jifen.png">
                <p>我的积分</p>
            </a>
        </div>
    </div>
</div>