<div class="system_page yao_shadow">
   <label class="list yao_alignment_middle">
      <span>原用户名：</span>
      <span>AK4651645</span>
   </label>
   <label class="list yao_alignment_middle">
      <span>新用户名：</span>
     <input type="text" placeholder="请输入用户名(4-25个字符:数字、字母、下划线)">
   </label>
</div>

<label class="yao_button_normal">

   <button>提交</button>

</label>