
<footer class="bottom_tabbar">
    <div class="tab_box"></div>
    <div class="bottom_tabbar_contain yao_alignment_center">
        <a href="#"  <%if(tabone){%>class="current_page"<%}%>>
            <div class="tabbar_icon"><img src="../../icon/icon_mian_home_green.png"></div>
            <p>首页</p>
        </a>
        <a href="#" <%if(tabtwo){%>class="current_page"<%}%>>
            <div class="tabbar_icon"><img src="../../icon/icon_main_active_green.png"></div>
            <p>活动</p>
        </a>
        <a href="#" <%if(tabthree){%>class="current_page"<%}%>>
            <div class="tabbar_icon"><img src="../../icon/icon_main_shopping_green.png"></div>
            <p>购物车</p>
        </a>
        <a href="#" <%if(tabfour){%>class="current_page"<%}%>>
            <div class="tabbar_icon"><img src="../../icon/icon_main_individual_green.png"></div>
            <p>个人中心</p>
        </a>
    </div>
</footer>