<html>
<head>
    <title>订单支付</title>

</head>
<body>
<div class="order_page">


   <%- include('../../component/order/check_order/address.ejs')%>

    <%- include('../../component/order/check_order/order_info.ejs')%>

    <%- include('../../component/order/check_order/fixed_bottom.ejs')%>

</div>


</body>
</html>
<script>

    AnkangMain.CompatibleIOS11(document.getElementsByClassName('order_content')[0],'compatible_active_change')

</script>