<html>
<head>
    <title>选择地址</title>
</head>
<body>

<div class="order_page">

    <%- include('../../component/order/choose_address/choose_address.ejs')%>

    <%- include('../../component/order/choose_address/fix_bottom.ejs')%>

</div>



</body>
</html>