<html>
<head>
    <title>提交订单</title>
</head>
<body>

<div class="order_page">

    <%- include('../../component/order/submit_order/address.ejs')%>

    <%- include('../../component/order/submit_order/order_main.ejs')%>
    <%- include('../../component/order/submit_order/fixed_bottom.ejs')%>

</div>



<!--地址弹出框-->
<%- include('../../component/basic/address.ejs')%>

</body>
</html>