<div class="category_page">

    <!--点击分类-->
    <div class="category_tab  yao_shadow">
        <span class="choosed">感冒</span>
        <span>发烧</span>
        <span>咳嗽</span>
        <span>扁桃炎</span>
        <span>小儿麻痹</span>
        <span>皮肤感染</span>
        <span>阑尾炎</span>
        <span>鼻炎</span>
        <span>慢性咽炎</span>
    </div>

    <!--结果-->

    <%- include('../search_result/result_list.ejs')%>


</div>

<script>

    //分类tab点击事件
    akMedicineTab.tabClickFn()
</script>