<!--底部banner-->
<div class="banner_bottom">
    <img src="../../images/icon_active_banner2.jpg"/>
</div>

<p class="bottom_text">
    互联网药品交易服务资格证书：京C2016888
</p>

<!--底部导航-->
<footer class="bottom_nav">
    <div class="tab_circle"></div>
    <div class="bottom_nav_contain yao_navigation">
        <a href="#" class="current_page">
            <div class="navigation_icon"><img src="../../images/icon_mian_home_green.png"></div>
            <p>首页</p>
        </a>
        <a href="#">
            <div class="navigation_icon"><img src="../../images/icon_main_active_green.png"></div>
            <p>活动</p>
        </a>
        <a href="#">
            <div class="navigation_icon"><img src="../../images/icon_main_shopping_green.png"></div>
            <p>购物车</p>
        </a>
        <a href="#">
            <div class="navigation_icon"><img src="../../images/icon_main_individual_green.png"></div>
            <p>个人中心</p>
        </a>
    </div>
</footer>