<!--药品内容-->
<div class="active_section">
    <!--标题-->
    <div class="active_title">

        <div class="yao_title_text"><%=title%></div>
        <a class="yao_title_arrow">更多<img src="../../images/icon_AK_arrow1.png"/> </a>

    </div>
    <!--特价药品-->
    <div class="active_special">
        <!-- yao 1-->
        <a class="yao_special" href="#">
            <div class="special_img"><img src="../../images/icon_active_yao.jpg"/></div>
            <div class="special_title">云南白药气云南白药气雾剂喷雾剂喷剂85g+60g消肿化淤跌打扭伤止痛风湿痛 </div>
            <div class="special_value">
                <p>
                    <span>￥29.99</span>
                    <span>￥39.99</span>
                </p>
                <p class="special_round"></p>
            </div>
        </a>

        <!-- yao 1-->
        <a class="yao_special" href="#">
            <div class="special_img"><img src="../../images/icon_active_yao.jpg"/></div>
            <div class="special_title">云南白药气云南白药气雾剂喷雾剂喷剂85g+60g消肿化淤跌打扭伤止痛风湿痛 </div>
            <div class="special_value">
                <p>
                    <span>￥29.99</span>
                    <span>￥39.99</span>
                </p>
                <p class="special_round"></p>
            </div>
        </a>

        <!-- yao 1-->
        <a class="yao_special" href="#">
            <div class="special_img"><img src="../../images/icon_active_yao.jpg"/></div>
            <div class="special_title">云南白药气云南白药气雾剂喷雾剂喷剂85g+60g消肿化淤跌打扭伤止痛风湿痛 </div>
            <div class="special_value">
                <p>
                    <span>￥29.99</span>
                    <span>￥39.99</span>
                </p>
                <p class="special_round"></p>
            </div>
        </a>

        <!-- yao 1-->
        <a class="yao_special" href="#">
            <div class="special_img"><img src="../../images/icon_active_yao.jpg"/></div>
            <div class="special_title">云南白药气云南白药气雾剂喷雾剂喷剂85g+60g消肿化淤跌打扭伤止痛风湿痛 </div>
            <div class="special_value">
                <p>
                    <span>￥29.99</span>
                    <span>￥39.99</span>
                </p>
                <p class="special_round"></p>
            </div>
        </a>


    </div>
</div>