<html>
<head>
    <title>购物车</title>
</head>
<body>

<div class="shopping_cart_page">

    <div class="shopping_cart_top yao_alignment_middle">

<!--地址选择模块-->
<%- include('../../component/shopping_cart/address_box.ejs')%>

        <div class="shopping_management"><p class="shopping_edit">编辑</p></div>
    </div>

<!--购物车商品-->

<%- include('../../component/shopping_cart/shopping_box.ejs')%>

<!--底部结算-->
<%- include('../../component/shopping_cart/choose_all.ejs')%>
</div>

<footer class="bottom_tabbar">
    <div class="tab_box"></div>
    <div class="bottom_tabbar_contain yao_alignment_center">
        <a href="../homepage/main.html">
            <div class="tabbar_icon">
                <img src="../../icon/icon_mian_home_green.png">

            </div>
            <p>首页</p>
        </a>
        <a href="../active/active_page.html">
            <div class="tabbar_icon">
                <img src="../../icon/icon_main_active_green.png">

            </div>
            <p>活动</p>
        </a>
        <a class="current_page">
            <div class="tabbar_icon">
                <img src="../../icon/icon_main_shopping_green.png">
            </div>
            <p>购物车</p>
        </a>
        <a href="../person_center/person_main_login.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_individual_green.png">
                <p>个人中心</p>
            </div>
        </a>
    </div>
</footer>


<!--地址弹出框-->
<%- include('../../component/basic/address.ejs')%>

</body>
</html>