<div class="address_list">

    <!--地址选中添加class值：choosed-->
    <div class="address_select yao_alignment_middle choosed" >
        <div class="check_address">
            <div class="yao_alignment_center">
                <p><span>收货人：</span><span>葫芦娃</span></p>
                <p>15236984562</p>
            </div>
            <div>
                <span>收货地址：</span><span>上海市徐汇区虹桥路808号</span>
            </div>
        </div>
    </div>

    <div class="address_select yao_alignment_middle " >
        <div class="check_address">
            <div class="yao_alignment_center">
                <p><span>收货人：</span><span>葫芦娃</span></p>
                <p>15236984562</p>
            </div>
            <div>
                <span>收货地址：</span><span >上海市徐汇区虹桥路808号</span>
            </div>
        </div>
    </div>

    <div class="address_select yao_alignment_middle " >
        <div class="check_address">
            <div class="yao_alignment_center">
                <p><span>收货人：</span><span>葫芦娃</span></p>
                <p>15236984562</p>
            </div>
            <div>
                <span>收货地址：</span><span >上海市徐汇区虹桥路808号</span>
            </div>
        </div>
    </div>

    <div class="address_select yao_alignment_middle " >
        <div class="check_address">
            <div class="yao_alignment_center">
                <p><span>收货人：</span><span>葫芦娃</span></p>
                <p>15236984562</p>
            </div>
            <div>
                <span>收货地址：</span><span >上海市徐汇区虹桥路808号</span>
            </div>
        </div>
    </div>

    <div class="address_select yao_alignment_middle " >
        <div class="check_address">
            <div class="yao_alignment_center">
                <p><span>收货人：</span><span>葫芦娃</span></p>
                <p>15236984562</p>
            </div>
            <div>
                <span>收货地址：</span><span >上海市徐汇区虹桥路808号</span>
            </div>
        </div>
    </div>

    <div class="address_select yao_alignment_middle" >
        <div class="check_address">
            <div class="yao_alignment_center">
                <p><span>收货人：</span><span>葫芦娃</span></p>
                <p>15236984562</p>
            </div>
            <div>
                <span>收货地址：</span><span >上海市徐汇区虹桥路808号</span>
            </div>
        </div>
    </div>

    <div class="address_select yao_alignment_middle " >
        <div class="check_address">
            <div class="yao_alignment_center">
                <p><span>收货人：</span><span>葫芦娃</span></p>
                <p>15236984562</p>
            </div>
            <div>
                <span>收货地址：</span><span >上海市徐汇区虹桥路808号</span>
            </div>
        </div>
    </div>

    <div class="address_select yao_alignment_middle" >
        <div class="check_address">
            <div class="yao_alignment_center">
                <p><span>收货人：</span><span>葫芦娃</span></p>
                <p>15236984562</p>
            </div>
            <div>
                <span>收货地址：</span><span >上海市徐汇区虹桥路808号</span>
            </div>
        </div>
    </div>

</div>

<script>
    chooseAddress();//地址选择
</script>

