<div class="medicine_details">

    <p>999三九感冒灵颗粒，主治头痛发烧鼻噻咳嗽，中药成分</p>

    <p>拍一件发3盒，拍2件发6盒</p>

    <p>¥40.99</p>

    <p>
        <span>市场价：<span>¥99.99</span></span>
        <span>已省：<span>50.00元</span></span>
    </p>

    <p>
        <span>功效</span>
        <span>主治头痛发烧鼻噻咳嗽</span>
    </p>

</div>