<div class="medicine_details yao_shadow">

    <div>
        <p class="name ">999三九感冒颗粒，主治头痛发烧鼻噻咳嗽，中药成分</p>

        <p class="discounts">拍一件发3盒，拍2件发6盒</p>

        <p class="price">¥40.99</p>

        <p class="original_price">
            <span>市场价：<span>¥99.99</span></span>
            <span>已省<span>50.00元</span></span>
        </p>

    </div>


    <p class="effect yao_alignment_left">
        <span>功效</span>
        <span>主治头痛发烧鼻噻咳嗽</span>
    </p>

    <p class="yao_alignment_left">
        <span>厂商</span>
        <span>云南白药云南白药云南白药云南白药云南白药云南白药云南白药云南白药</span>
    </p>

</div>