<div class="medicine_table">
    <a class="douctor_phone" href="tel:400-8008-6523"><img src="../../images/icon_AK_phone1.png">药师咨询专线</a>
    <div class="product_images_parameter">
        <div class="parameter_table">
            <table border='1' cellspacing='0' cellpadding='0' bordercolor='#ddd'>
                <tr>
                    <td>药品名称</td>
                    <td>999感冒灵颗粒</td>
                </tr>
                <tr>
                    <td>通用名称</td>
                    <td>999感冒灵颗粒</td>
                </tr>
                <tr>
                    <td>拼音全码</td>
                    <td>GANMAOLINGKELI</td>
                </tr>
                <tr>
                    <td>成分</td>
                    <td>三叉苦、岗梅、金盏银盘、薄荷油、野菊花、马来酸氯苯那敏、咖啡因、对乙酰氨基酚。辅料为蔗糖粉</td>
                </tr>
                <tr>
                    <td>规格</td>
                    <td>10gX9袋</td>
                </tr>

                <tr>
                    <td>用法用量</td>
                    <td>开水冲服，一次1袋，一日3次。小儿减量或遵医嘱。</td>
                </tr>

                <tr>
                    <td>不良反应</td>
                    <td>偶见皮疹、荨麻疹、药热及粒细胞减少；可见困倦、嗜睡、口渴、虚弱感；长期大量用药会导致肝肾功能异常。</td>
                </tr>

                <tr>
                    <td>禁忌</td>
                    <td>严重肝肾功能不全者禁用</td>
                </tr>

            </table>
        </div>
    </div>

    <div class="medicine_usage">
        <p class="title">【用药讲究】<span>药师参考</span></p>
        <p>1、忌烟，酒及辛辣，生冷，油腻食物。</p>
        <p>2、不宜在服药期间同时服用滋补性中成药。</p>
        <p>3、 高血压、心脏病、肝病、肾病等慢性病严重者应在医师指导下服用。</p>
        <p>4、本品含对乙氨基酚，马来酸氨苯那敏，咖啡因。服用本品期间不得饮酒或含有酒精的饮料；不能同时服用与本品成分相似的其它抗感冒药；肝，肾功能不全者慎用；膀胱颈梗阻，甲状腺功能亢进，青光眼，高血压和前列腺肥大者慎用；孕妇及哺乳期妇女慎用；服药期间不得驾驶机，车，船，从事高空作业，机械作业及操作精密仪器。</p>
        <p>5、脾胃虚寒，症见腹痛，喜暖，泄泻者慎用。</p>
    </div>
</div>