<div class="medicine_images">
    <div class="product_images_nav">
        <!-- 向下滑动 -->
        <div class="slide_down">向下进入详情页</div>
    </div>

    <div class="images_info">
        <img src="../../images/icon_product_img1.jpg">

        <img src="../../images/icon_product_img2.jpg">

        <img src="../../images/icon_product_img3.jpg">

    </div>
</div>