<div class="medicine_reference yao_shadow">
    
    <div class="reference_title yao_alignment_center">
        <p><img src="../../images/icon_AK_package.png">常见的购买套餐参考</p>

        <p><span>上一个</span><span>下一个</span></p>
    </div>

    <div class="reference">
        <div class="cloum yao_alignment_middle">
            <p>No1</p>

            <p>
                <span>轻度感冒预防</span>
                <span>本套餐为中药成分，副作用小，老人小孩皆可以使用</span>
            </p>
        </div>

        <div class="product_reference yao_alignment_middle">
            <a>
                <p><img src="../../images/icon_product_referrnce.jpg"></p>
                <p class="name">999三九感冒灵颗粒</p>
                <p class="text_function">主治：发烧头痛，恶心干呕，清热去火，发烧头痛，恶心干呕，清热去火</p>
                <p class="yao_alignment_center"><span>¥10.00</span><span>X1</span></p>
            </a>
            <a>
                <p><img src="../../images/icon_product_referrnce.jpg"></p>
                <p class="name">999三九感冒灵颗粒</p>
                <p class="text_function">主治：发烧头痛，恶心干呕，清热去火，发烧头痛，恶心干呕，清热去火</p>
                <p class="yao_alignment_center"><span>¥10.00</span><span>X1</span></p>
            </a>
            <a>
                <p><img src="../../images/icon_product_referrnce.jpg"></p>
                <p class="name">999三九感冒灵颗粒</p>
                <p class="text_function">主治：发烧头痛，恶心干呕，清热去火，发烧头痛，恶心干呕，清热去火</p>
                <p class="yao_alignment_center"><span>¥10.00</span><span>X1</span></p>
            </a>
            <a>
                <p><img src="../../images/icon_product_referrnce.jpg"></p>
                <p class="name">999三九感冒灵颗粒</p>
                <p class="text_function">主治：发烧头痛，恶心干呕，清热去火，发烧头痛，恶心干呕，清热去火</p>
                <p class="yao_alignment_center"><span>¥10.00</span><span>X1</span></p>
            </a>

            <a>
                <p><img src="../../images/icon_product_referrnce.jpg"></p>
                <p class="name">999三九感冒灵颗粒</p>
                <p class="text_function">主治：发烧头痛，恶心干呕，清热去火，发烧头痛，恶心干呕，清热去火</p>
                <p class="yao_alignment_center"><span>¥10.00</span><span>X1</span></p>
            </a>
            <a>
                <p><img src="../../images/icon_product_referrnce.jpg"></p>
                <p class="name">999三九感冒灵颗粒</p>
                <p class="text_function">主治：发烧头痛，恶心干呕，清热去火，发烧头痛，恶心干呕，清热去火</p>
                <p class="yao_alignment_center"><span>¥10.00</span><span>X1</span></p>
            </a>

        </div>
    </div>

    <div class="reference_buy_btn ">
        <a class="green" onclick="showProductSku.show({fn:function() {jfProductDetails.changeHideBtn('orange');}})">加入购物车</a>
        <a class="orange" onclick="showProductSku.show({fn:function() {jfProductDetails.changeHideBtn('red');}})">立即购买</a>
    </div>
    
    
    
    
    
</div>