<div class="search_result_list">

    <a href="#" class="result yao_alignment_middle" >
        <div><img src="../../images/icon_product_referrnce.jpg"></div>
        <div>
            <p>[999]感冒灵颗粒</p>
            <p>本品为浅棕色至深棕色的颗粒，味甜、微苦。每盒含9包，每包袋装10g。解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>
            <p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>
        </div>
    </a>

    <a href="#" class="result yao_alignment_middle" >
        <div><img src="../../images/icon_product_referrnce.jpg"></div>
        <div>
            <p>[999]感冒灵颗粒</p>
            <p>解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>
            <p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>
        </div>
    </a>

    <a href="#" class="result yao_alignment_middle" >
        <div><img src="../../images/icon_product_referrnce.jpg"></div>
        <div>
            <p>[999]感冒灵颗粒</p>
            <p>解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>
            <p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>
        </div>
    </a>

    <a href="#" class="result yao_alignment_middle">
        <div><img src="../../images/icon_product_referrnce.jpg"></div>
        <div>
            <p>[999]感冒灵颗粒</p>
            <p>本品为浅棕色至深棕色的颗粒，味甜、微苦。每盒含9包，每包袋装10g。解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>
            <p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>
        </div>
    </a>
    <a href="#" class="result yao_alignment_middle" >
        <div><img src="../../images/icon_product_referrnce.jpg"></div>
        <div>
            <p>[999]感冒灵颗粒</p>
            <p>本品为浅棕色至深棕色的颗粒，味甜、微苦。每盒含9包，每包袋装10g。解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>
            <p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>
        </div>
    </a>

    <a href="#" class="result yao_alignment_middle" >
        <div><img src="../../images/icon_product_referrnce.jpg"></div>
        <div>
            <p>[999]感冒灵颗粒</p>
            <p>解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>
            <p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>
        </div>
    </a>

    <a href="#" class="result yao_alignment_middle" >
        <div><img src="../../images/icon_product_referrnce.jpg"></div>
        <div>
            <p>[999]感冒灵颗粒</p>
            <p>解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>
            <p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>
        </div>
    </a>

    <a href="#" class="result yao_alignment_middle">
        <div><img src="../../images/icon_product_referrnce.jpg"></div>
        <div>
            <p>[999]感冒灵颗粒</p>
            <p>本品为浅棕色至深棕色的颗粒，味甜、微苦。每盒含9包，每包袋装10g。解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>
            <p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>
        </div>
    </a>

    
</div>