<div class="top_search ">
    <div class="box_bar"></div>
    <div class="main_search yao_alignment_center yao_shadow">
        <label class="yao_alignment_middle search">
            <img src="../../images/icon_search.png">
            <input type="text" placeholder="感冒灵">
        </label>
        <div>搜索</div>
    </div>
</div>