<html>
<head>
    <title>搜索结果页</title>
</head>
<body>
<div class="search_page">

<!--顶部搜索-->
<%- include('../../component/search_result/top_search.ejs')%>

    <!--搜索结果-->

    <%- include('../../component/search_result/result_list.ejs')%>

</div>
</body>
</html>