<label class="yao_input_normal">

    <div class="yao_input_left">

        <img src="<%=icon%>"/>

    </div>

    <div class="yao_input_right">

        <input type="<%=inputType%>" placeholder="<%=placeholder%>"/>

    </div>

</label>