<label class="yao_input_normal yao_input_check">

    <div class="yao_input_left">

        <img src="<%=icon%>"/>

    </div>

    <div class="yao_input_right">

        <input type="<%=inputType%>" placeholder="<%=placeholder%>"/>

    </div>

    <div class="yao_input_check_button">获取验证码</div>


</label>


<script>

    document.getElementsByClassName('yao_input_check_button')[0].addEventListener('click',inputFn.inputCheck,false)


</script>