<div class="shopping_box_bottom">
    <div class="bottom_bar"></div>
    <div class="bottom_go_buy yao_alignment_center">
        <label>
            <input class="aui-radio allcheck" type="checkbox">
            <span>全选</span>
        </label>

        <div>
            <p><span>合计：</span><span>¥19.99</span></p>

            <p><span>总额：</span><span>¥19.99</span></p>
        </div>

        <a href="../order/submit_order_page.html">去结算</a>
    </div>

    <div class="bottom_delete yao_alignment_center">

        <label>
            <input class="aui-radio allcheck" type="checkbox">
            <span>全选</span>
        </label>

        <a class="delete_btn">删除</a>

    </div>
</div>

<script>

    //删除事件
    document.getElementsByClassName('delete_btn')[0].addEventListener("click",function(){

            //对话框
            jfShowTips.dialogShow({
                'mainText':'友情提示',
                'minText':'确认要删除这个商品吗？',
                'checkFn':function(){

                    jfShowTips.dialogRemove();

                    var allCheckedBox=document.getElementsByClassName('singlecheck');

                    for(var i=0;i<allCheckedBox.length;i++){

                        if(allCheckedBox[i].checked){

                            var thisBoxParent=allCheckedBox[i].parentNode

                            for(var j=0;j<100;j++){

                                if(thisBoxParent.className.indexOf('shopping_list')>-1){

                                    thisBoxParent.style.display="none";

                                    break

                                }else {
                                    thisBoxParent=thisBoxParent.parentNode;
                                }

                            }

                        }

                    }

                }

            })

    },false)

</script>