<div class="shopping_box yao_shadow">
    <div class="shopping_list yao_alignment_middle">
       <label><input class="aui-radio singlecheck" type="checkbox" name="shopping"></label>
        <a class="yao_alignment_left">
            <div class="pro_img">
                <img src="../../images/icon_product_referrnce.jpg">
            </div>
            <div>
                <p class="pro_name">999三九感冒灵颗粒999三九感冒灵颗粒999三九感冒灵颗粒999三九感冒灵颗粒999三九感冒灵颗粒</p>
                <p class="pro_size"><span>规格:</span><span>10gX4袋 无糖</span></p>

                <div class="yao_alignment_center">
                    <p class="price">¥9.99</p>
                    <div class="volume_btn">
                        <span class="reduce">－</span>
                        <input value="1"  type="number" pattern="[0-9]*" class="volume_input">
                        <span class="add">+</span>
                    </div>
                </div>

            </div>
        </a>
    </div>
    <!--无货状态添加class值out_list-->
    <div class="out_list shopping_list yao_alignment_middle">
        <label><input class="aui-radio singlecheck" type="checkbox" name="shopping"></label>
        <a class="yao_alignment_left">
            <div class="pro_img">
                <img src="../../images/icon_product_referrnce.jpg">
            </div>
            <div>
                <p class="pro_name">999三九感冒灵颗粒</p>
                <p class="pro_size"><span>规格:</span><span>10gX4袋 无糖</span></p>

                <div class="yao_alignment_center">
                    <p class="price">¥9.99</p>
                    <div class="volume_btn">
                        <span class="reduce">－</span>
                        <input value="1"  type="number" pattern="[0-9]*" class="volume_input">
                        <span class="add">+</span>
                    </div>
                </div>

            </div>
        </a>
    </div>
    <div class="out_list shopping_list yao_alignment_middle">
        <label><input class="aui-radio singlecheck" type="checkbox" name="shopping"></label>
        <a class="yao_alignment_middle">
            <div class="pro_img">
                <img src="../../images/icon_product_referrnce.jpg">
            </div>
            <div>
                <p class="pro_name">999三九感冒灵颗粒</p>
                <p class="pro_size"><span>规格:</span><span>10gX4袋 无糖</span></p>

                <div class="yao_alignment_center">
                    <p class="price">¥9.99</p>
                    <div class="volume_btn">
                        <span class="reduce">－</span>
                        <input value="1"  type="number" pattern="[0-9]*" class="volume_input">
                        <span class="add">+</span>
                    </div>
                </div>

            </div>
        </a>
    </div>
    <div class="shopping_list yao_alignment_middle">
        <label><input class="aui-radio singlecheck" type="checkbox" name="shopping"></label>
        <a class="yao_alignment_middle">
            <div class="pro_img">
                <img src="../../images/icon_product_referrnce.jpg">
            </div>
            <div>
                <p class="pro_name">999三九感冒灵颗粒</p>
                <p class="pro_size"><span>规格:</span><span>10gX4袋 无糖</span></p>

                <div class="yao_alignment_center">
                    <p class="price">¥9.99</p>
                    <div class="volume_btn">
                        <span class="reduce">－</span>
                        <input value="1"  type="number" pattern="[0-9]*" class="volume_input">
                        <span class="add">+</span>
                    </div>
                </div>

            </div>
        </a>
    </div>
    <div class="shopping_list yao_alignment_middle">
        <label><input class="aui-radio singlecheck" type="checkbox" name="shopping"></label>
        <a class="yao_alignment_middle">
            <div class="pro_img">
                <img src="../../images/icon_product_referrnce.jpg">
            </div>
            <div>
                <p class="pro_name">999三九感冒灵颗粒</p>
                <p class="pro_size"><span>规格:</span><span>10gX4袋 无糖</span></p>

                <div class="yao_alignment_center">
                    <p class="price">¥9.99</p>
                    <div class="volume_btn">
                        <span class="reduce">－</span>
                        <input value="1"  type="number" pattern="[0-9]*" class="volume_input">
                        <span class="add">+</span>
                    </div>
                </div>

            </div>
        </a>
    </div>
    <div class="shopping_list yao_alignment_middle">
        <label><input class="aui-radio singlecheck" type="checkbox" name="shopping"></label>
        <a class="yao_alignment_middle">
            <div class="pro_img">
                <img src="../../images/icon_product_referrnce.jpg">
            </div>
            <div>
                <p class="pro_name">999三九感冒灵颗粒</p>
                <p class="pro_size"><span>规格:</span><span>10gX4袋 无糖</span></p>

                <div class="yao_alignment_center">
                    <p class="price">¥9.99</p>
                    <div class="volume_btn">
                        <span class="reduce">－</span>
                        <input value="1"  type="number" pattern="[0-9]*" class="volume_input">
                        <span class="add">+</span>
                    </div>
                </div>

            </div>
        </a>
    </div>
    <div class="shopping_list yao_alignment_middle">
        <label><input class="aui-radio singlecheck" type="checkbox" name="shopping"></label>
        <a class="yao_alignment_middle">
            <div class="pro_img">
                <img src="../../images/icon_product_referrnce.jpg">
            </div>
            <div>
                <p class="pro_name">999三九感冒灵颗粒</p>
                <p class="pro_size"><span>规格:</span><span>10gX4袋 无糖</span></p>

                <div class="yao_alignment_center">
                    <p class="price">¥9.99</p>
                    <div class="volume_btn">
                        <span class="reduce">－</span>
                        <input value="1"  type="number" pattern="[0-9]*" class="volume_input">
                        <span class="add">+</span>
                    </div>
                </div>

            </div>
        </a>
    </div>
    <div class="shopping_list yao_alignment_middle">
        <label><input class="aui-radio singlecheck" type="checkbox" name="shopping"></label>
        <a class="yao_alignment_middle">
            <div class="pro_img">
                <img src="../../images/icon_product_referrnce.jpg">
            </div>
            <div>
                <p class="pro_name">999三九感冒灵颗粒</p>
                <p class="pro_size"><span>规格:</span><span>10gX4袋 无糖</span></p>

                <div class="yao_alignment_center">
                    <p class="price">¥9.99</p>
                    <div class="volume_btn">
                        <span class="reduce">－</span>
                        <input value="1"  type="number" pattern="[0-9]*" class="volume_input">
                        <span class="add">+</span>
                    </div>
                </div>

            </div>
        </a>
    </div>
    <div class="shopping_list yao_alignment_middle">
        <label><input class="aui-radio singlecheck" type="checkbox" name="shopping"></label>
        <a class="yao_alignment_middle">
            <div class="pro_img">
                <img src="../../images/icon_product_referrnce.jpg">
            </div>
            <div>
                <p class="pro_name">999三九感冒灵颗粒</p>
                <p class="pro_size"><span>规格:</span><span>10gX4袋 无糖</span></p>

                <div class="yao_alignment_center">
                    <p class="price">¥9.99</p>
                    <div class="volume_btn">
                        <span class="reduce">－</span>
                        <input value="1"  type="number" pattern="[0-9]*" class="volume_input">
                        <span class="add">+</span>
                    </div>
                </div>

            </div>
        </a>
    </div>

</div>

<script>

    //点击加减按钮
    shoppingBoxFn.chooseProNum()


    //单选/反选
    shoppingBoxFn.CheckBoxFn();

    //编辑、完成点击
    shoppingBoxFn.editFn();

</script>