<!--提交成功页面-->

<div class="result_page">

    <div class="result_title">

        <div class="success_animation_right">

            <div class="swal2-icon swal2-success animate">

                <span class="line tip animate-success-tip"></span>

                <span class="line long animate-success-long"></span>

                <div class="placeholder">

                </div>

                <div class="fix"></div>

            </div>

        </div>

        <div class="result_text">提交成功</div>

        <div class="result_round top"></div>

        <div class="result_round bottom"></div>

    </div>

    <div class="shopping_order_text">

        <div class="order_text_value">

            <div class="text_value_top">30元购物红包已到账众博康健 正在快速出库和配送，请保持电话畅通，配送员预计30分钟内将会送达货到付款支持刷银行卡、现金</div>

        </div>
        <div class="text_value_bottom">
            便捷的购物体验，快快分享到朋友圈，让您的亲人朋友也享受
            如此至高的服务体验。点击右上角的分享选择分享的对象。分
            享成功后将会获得抽奖机会，在<span>【个人中心】</span>中 <span>【分享有礼】</span>
        </div>
    </div>

    <!--底部按钮-->

    <a class="login_button_solid" href="../homepage/main.html">
        <button>去逛逛</button>
    </a>
    <a class="login_button_hollow" href="../person_center/my_order.html">
        <button>去查看订单</button>
    </a>
    <label><button></button></label>

</div>

