<div class="order_bottom">
    <div class="bottom_bar"></div>
    <div class="fixed_price">
        <span>总金额：<span>¥600.00</span></span>
        <span>用券抵扣<span>50元</span></span>

    </div>
    <div class="fixed_order yao_alignment_center">
        <p><span>应付金额：</span><span>¥550.00</span></p>
        <a href="shopping_order_pay.html">微信支付</a>
    </div>
</div>