<html>
<head>
    <title>商品详情页</title>
</head>
<body>

<div class="product_page">

<!--商品主图-->
<%- include('../../component/product_details_page/product_banner.ejs')%>


<!--固定底部-->
    <%- include('../../component/product_details_page/bottom_tab.ejs')%>
</div>


</body>
</html>