<div class="ak_pro_list hot_sale">

    <div class="items">
        <div class="product_title jdshow_center_center">
            <div>— <span>近期热卖</span> —</div>
            <a>更多<img src="../../images/icon_AK_arrow.png"></a>
        </div>

        <div>
            <a class="hot">
                <div class="pro_img"><img src="../../images/hot_product.jpg"></div>
                <p>云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤</p>
                <div class="price">
                    <p>
                        <span>¥29.99</span>
                        <span>¥39.99</span>
                    </p>
                    <p class="gobuy"></p>
                </div>
            </a>

            <a class="hot">
                <div class="pro_img"><img src="../../images/hot_product.jpg"></div>
                <p>云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤</p>
                <div class="price">
                    <p>
                        <span>¥29.99</span>
                        <span>¥39.99</span>
                    </p>
                    <p class="gobuy"></p>
                </div>
            </a>
            <a class="hot">
                <div class="pro_img"><img src="../../images/hot_product.jpg"></div>
                <p>云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤</p>
                <div class="price">
                    <p>
                        <span>¥29.99</span>
                        <span>¥39.99</span>
                    </p>
                    <p class="gobuy"></p>
                </div>
            </a>
            <a class="hot">
                <div class="pro_img"><img src="../../images/hot_product.jpg"></div>
                <p>云南白药雾剂消肿化南白药雾扭伤</p>
                <div class="price">
                    <p>
                        <span>¥29.99</span>
                        <span>¥39.99</span>
                    </p>
                    <p class="gobuy"></p>
                </div>
            </a>
        </div>

    </div>




</div>