<div class="product_normal">
    <p class="product_title">— <span>常见购买套餐参考</span> —</p>
    <div class="normal_box yao_alignment_middle">
        <a href="#">
            <div class="function yao_alignment_middle">
                <span>No1</span>
                <span>轻度感冒预防用轻度感冒预防用</span>
            </div>

            <div class="pro_img"><img src="../../images/normal_product.jpg"></div>
            <div class="content">本套餐为中药成分，对身体有较大好处。本套餐为中药成分，对身体有较大好处。本套餐为中药成分，对身体有较大好处。</div>
            <div class="price yao_alignment_center">
                <span>¥28.00</span>
                <span><img src="../../images/icon_AK_shop.png"></span>
            </div>

            <div class="gobuy">立即购买</div>
        </a>

        <a>
            <div class="function yao_alignment_middle">
                <span>No1</span>
                <span>轻度感冒预防用</span>
            </div>

            <div class="pro_img"><img src="../../images/normal_product.jpg"></div>
            <div class="content">本套餐为中药成分，对身体有较大好处。本套餐为中药成分，对身体有较大好处。本套餐为中药成分，对身体有较大好处。</div>
            <div class="price yao_alignment_center">
                <span>¥28.00</span>
                <span><img src="../../images/icon_AK_shop.png"></span>
            </div>

            <div class="gobuy">立即购买</div>
        </a>


        <a>
            <div class="function yao_alignment_middle">
                <span>No1</span>
                <span>轻度感冒预防用</span>
            </div>

            <div class="pro_img"><img src="../../images/normal_product.jpg"></div>
            <div class="content">本套餐为中药成分，对身体有较大好处。本套餐为中药成分，对身体有较大好处。本套餐为中药成分，对身体有较大好处。</div>
            <div class="price yao_alignment_center">
                <span>¥28.00</span>
                <span><img src="../../images/icon_AK_shop.png"></span>
            </div>

            <div class="gobuy">立即购买</div>
        </a>


        <a>
            <div class="function yao_alignment_middle">
                <span>No1</span>
                <span>轻度感冒预防用</span>
            </div>

            <div class="pro_img"><img src="../../images/normal_product.jpg"></div>
            <div class="content">本套餐为中药成分，对身体有较大好处。本套餐为中药成分，对身体有较大好处。本套餐为中药成分，对身体有较大好处。</div>
            <div class="price yao_alignment_center">
                <span>¥28.00</span>
                <span><img src="../../images/icon_AK_shop.png"></span>
            </div>

            <div class="gobuy">立即购买</div>
        </a>

        <a>
            <div class="function yao_alignment_middle">
                <span>No1</span>
                <span>轻度感冒预防用</span>
            </div>

            <div class="pro_img"><img src="../../images/normal_product.jpg"></div>
            <div class="content">本套餐为中药成分，对身体有较大好处。本套餐为中药成分，对身体有较大好处。本套餐为中药成分，对身体有较大好处。</div>
            <div class="price yao_alignment_center">
                <span>¥28.00</span>
                <span><img src="../../images/icon_AK_shop.png"></span>
            </div>

            <div class="gobuy">立即购买</div>
        </a>

        <a>
            <div class="function yao_alignment_middle">
                <span>No1</span>
                <span>轻度感冒预防用</span>
            </div>

            <div class="pro_img"><img src="../../images/normal_product.jpg"></div>
            <div class="content">本套餐为中药成分，对身体有较大好处。本套餐为中药成分，对身体有较大好处。本套餐为中药成分，对身体有较大好处。</div>
            <div class="price yao_alignment_center">
                <span>¥28.00</span>
                <span><img src="../../images/icon_AK_shop.png"></span>
            </div>

            <div class="gobuy">立即购买</div>
        </a>

        <a>
            <div class="function yao_alignment_middle">
                <span>No1</span>
                <span>轻度感冒预防用</span>
            </div>

            <div class="pro_img"><img src="../../images/normal_product.jpg"></div>
            <div class="content">本套餐为中药成分，对身体有较大好处。本套餐为中药成分，对身体有较大好处。本套餐为中药成分，对身体有较大好处。</div>
            <div class="price yao_alignment_center">
                <span>¥28.00</span>
                <span><img src="../../images/icon_AK_shop.png"></span>
            </div>

            <div class="gobuy">立即购买</div>
        </a>


    </div>
</div>