<div class="ak_pro_list">

    <div class="items">
        <div class="product_title jdshow_center_center">
            <div>— <span>药品</span> —</div>
            <a>更多<img src="../../images/icon_AK_arrow.png"></a>
        </div>

        <div class="list yao_alignment_center">
            <a href="../product_details_page/product_details_page.html">
                <p>感冒感冒感冒感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
        </div>
    </div>

    <div class="items">
        <div class="product_title jdshow_center_center">
            <div>— <span>医疗保健器械</span> —</div>
            <a>更多<img src="../../images/icon_AK_arrow.png"></a>
        </div>

        <div class="list yao_alignment_center">
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
        </div>
    </div>

    <div class="items">
        <div class="product_title jdshow_center_center">
            <div>— <span>保健品补品</span> —</div>
            <a href="#">更多<img src="../../images/icon_AK_arrow.png"></a>
        </div>

        <div class="list yao_alignment_center">
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
        </div>
    </div>

    <div class="items">
        <div class="product_title jdshow_center_center">
            <div>— <span>计生用品</span> —</div>
            <a>更多<img src="../../images/icon_AK_arrow.png"></a>
        </div>

        <div class="list yao_alignment_center">
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
            <a href="../product_details_page/product_details_page.html">
                <p>感冒</p>
                <p><img src="../../images/sale_product.jpg"></p>
            </a>
        </div>
    </div>



</div>